<div class="max-w-2xl mx-auto flex flex-col justify-center">
  <app-title-heading></app-title-heading>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 1: Troubleshooting</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 2: Make a component</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 3: Routing</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 4: Make a service</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 5: Guards</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 6: Troubleshooting</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 7: RxJs</div>
  </div>
  <div class="border border-blue-100 rounded-md shadow-lg m-5">
    <div class="bg-gray-100 text-xl p-5">Task 8: Feature Modules</div>
  </div>
</div>
